@use 'variables' as *;
@use 'mixins' as *;

.footer{
    background-color: $blue;
    width: 100%;
    text-align: center;
    @include flex-col;
    justify-content: center;
    &-logo{
        width: 10%;
        height: 15%;
        text-align: center;
    }

    &-left{
        img{
            width: 2.5rem;
            height: 2.5rem;
            text-align: center;
        }
    }
    
}