@use 'variables' as *;
@use 'mixins' as *;

.footer {
    background-color: #009DDC;
    width: 100%;
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    position: relative;

    &-wave {
        display: block;
        width: 100%;
        height: auto;
        position: absolute;
        bottom: 0;
        left: 0;
        z-index: 1;
    }

    p {
        color: $white;
        font-size: 1rem;
        // margin: 1rem;
        font-weight: 500;
        text-transform: uppercase;
    }

    &-top {
        @include flex-row;
        align-items: center;
        justify-content: center;
        gap: 2rem;
        width: 100%;
        padding: 1rem 1rem 0;
        position: relative;
        z-index: 2;
    }

    &-bottom {
        position: relative;
        z-index: 2;
        margin-bottom: 3rem;
    }

    &-logo {
        width: 140px;
        text-align: center;
    }

    &-left {
        @include flex-row;
        gap: 1rem;

        img {
            width: 2rem;
            height: 2rem;
            text-align: center;
        }
    }

    &-right {
        @include flex-row;
        align-items: center;
       

        img {
            width: 1.3rem;
            height: 1.3rem;
            text-align: center;
        }

        p {
            color: $white;
            font-size: 14px;
            font-weight: 100;
        }
        :nth-child(2){
         margin: 0 1rem 0 0.6rem;

        }
        :nth-child(3){
            margin: 0 0.2rem 0 0.7rem;
           }
        :nth-child(4){
            margin: 0 1rem 0 0.2rem;
           }
         

    }

    @media screen and (min-width: 768px) {
        width: 100%;
        padding-bottom: 2rem;
        @include flex-row;
        justify-content: space-around;
        bottom: 0rem;
        align-items: center;
        flex-wrap: nowrap;
        &-wave {
            bottom: 0;
        }

        p {
            margin: 0;
            font-size: 18px;
            font-weight: 100;
        }

        &-logo {
            width: 180px;

            &_wrapper {
                width: 30%;
                display: flex;
                justify-content: center;
            }
        }

        &-info_wrapper {
            @include flex-col;
            width: 70%;
            gap: 1rem;
        }

        &-top{
            width: 100%;
            padding-top: 0rem;
        }

        &-bottom {
            width: 75%;
            margin-bottom: 0rem;
        }

        &-right {
            gap: 0.5rem;

        }


    }

    @media screen and (min-width: 1024px){
        &-logo{
            width: 213px;
        }
        &-right{
            width: 62%;
            :nth-child(2){
                margin: 0;
            }
            :nth-child(4){
                margin: 0;
            }
        }
        &-top{
            width: 100%; 
            justify-content: flex-end;
            padding: 0;
        }
        &-bottom{
            display: flex;
            width: 62%;
            p{
                padding-right: 2rem;
            }
        }
      p{
        font-size: 14px;
        font-weight: 400;
      }

      &-info_wrapper {
      @include flex-row;
      gap: 10px;
      align-items: center;
    }


    }

    @media screen and (min-width: 1120px){
        &-top{
            width: 70%;
        }
        &-right{
            width: 50%;
        }
    }
}