@use 'mixins' as *;
@use 'variables' as *;

.hamburger{
    height: 1rem;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    gap: 0.1rem;
    position: relative;
    &-line{
        background-color: $white;
        height: 0.2rem;
        width: 1.5rem;
        transition: transform 0.3s ease;
    }
        &.active &-line:nth-child(2) {
        display: none;
        }
        &.active &-line:nth-child(1) {
            transform: rotate(40deg) translate(0.2rem, 0.2rem);
        }
        &.active &-line:nth-child(3) {
            transform: rotate(-40deg) translate(0.2rem, -0.2rem);
        }
        @media screen and (min-width: 768px) {
            display: none;
        }
}
