@use 'mixins' as *;
@use 'variables' as *;

$header-z-index: 5; // Adjust as needed to ensure the header is above other content
$navbar-z-index: 10;

.header {
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    transition: opacity 1s ease-in-out;
    width: 100%;

    &-top {
        display: none;
    }

    &-wrapper {
        @include flex-row;
        padding: 1rem;
        justify-content: space-between;
        align-items: center;
        background-color: rgba(54, 54, 54, .75);
        position: relative;
        z-index: 10;
    }

    &-logo {
        width: 25%;
    }
    &-nav {
        position: absolute; /* Changed from fixed to absolute */
        top: 100%; /* Start off below the header-wrapper */
        left: 0;
        transform: translateY(-120%);
        transition: transform .3s ease-in-out;
        width: 100%; 
        // position: fixed;
        // top: -100%;
        // left: 0;
        background-color: rgba(54, 54, 54, .75);
        // z-index: 15;
        // transition: all .3s ease-in-out;
        // width: 90%;
       &.show{
        transform: translateY(0);
       }
        ul {
            padding: 0;
        }

        li {
            list-style: none;
            text-transform: uppercase;
            display: block;
            padding: 1rem;

            &:hover {
                background-color: $blue;
                opacity: 1;
            }
        }

        a {
            text-decoration: none;
            color: $white;
            font-weight: 600;
            font-size: 1.5rem;
        }

        &.show {
          display: block;
        }
    }

    &-banner {
        text-transform: uppercase;
        color: $white;
        font-size: 1.5rem;
        @include flex-col;
        justify-content: center;
        align-items: center;
        height: 75%;
        width: 100%;
        text-align: center;
        padding: 3rem;

        h1 {
            margin: 0;
            font-size: 3rem;
            flex: 0 0 auto;
            padding: 0 3rem;
        }

        button {
            border: 1px solid $white;
            background-color: transparent;
            font-size: 1.5rem;
            color: $white;
            font-weight: 600;
            text-transform: uppercase;
            width: 280px;
            height: 50px;
        }

        &> :nth-child(3) {
            margin-top: 5rem;
        }

        &> :nth-child(4) {
            margin-bottom: 2rem;
        }

        .circles {
            display: flex;
            justify-content: center;
            align-items: center;
            padding: 3rem;

            .circle {
                width: 15px;
                height: 15px;
                background-color: $white;
                border-radius: 50%;
                margin: 0 5px;

                &.active {
                    background-color: $blue;
                }
            }
        }
    }


    &-btns {
        display: flex;
        flex-direction: column;
        gap: 2vh;
    }

    svg {
        position: relative;
        top: 5px;
    }


    @media screen and (min-width: 768px) {
        position: relative;
        &-top {
            @include flex-row;
            justify-content: space-between;
            color: $white;
            font-size: 1rem;
            margin: 0 2rem 0 2rem;
            text-transform: uppercase
        }

        &-left {
            @include flex-row;
            gap: 1rem;
        }

        &-right {
            @include flex-row;
            align-items: center;
            gap: 1rem;

            img {
                height: 1rem;
                width: 1rem;
            }
        }

        &-wrapper {
            background-color: transparent;
            display: block;
            text-align: center;
        }

        &-banner {
            padding: 1rem 8rem;
            margin: 5rem 0;
        }

        svg {
            width: 100%;
            bottom: 0;
            left: 0;
        }

    
        &-nav {
            display: flex;
            flex-direction: row;
            justify-content: center;
            align-items: center;
            margin: 0 auto;
            width: 700px;
            height: 70px;

            ul {
                @include flex-row;
                justify-content: space-between;
                margin: 0 2rem 0 2rem;

                li:nth-last-child(-n+2) {
                    display: none;
                }
            }

            a {
                font-size: 1rem;
                font-weight: 300;
            }
        }

        &-btns {
            display: flex;
            flex-direction: row;
            gap: 10vh;
        }
    }

}

.hamburger{
    height: 1rem;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    gap: 0.1rem;
    position: relative;
    &-line{
        background-color: $white;
        height: 0.2rem;
        width: 1.5rem;
        transition: transform 0.3s ease;
    }
        &.active &-line:nth-child(2) {
        display: none;
        }
        &.active &-line:nth-child(1) {
            transform: rotate(40deg) translate(0.2rem, 0.2rem);
        }
        &.active &-line:nth-child(3) {
            transform: rotate(-40deg) translate(0.2rem, -0.2rem);
        }
        @media screen and (min-width: 768px) {
            display: none;
        }
}
        
    

