@use "variables" as *;
@use "mixins" as *;

//video 
 .video {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
    width: 100%;
    padding: 12%;
    background-color: $blue;

// Added calulation for height of iframe
// this was so that the video scales with the window
  
  &-iframe {
    background-color: $green;
    border: 15px solid $dark-blue;
    width: 80%;
    height: calc(0.5806 * 62vw);
 
  }

  @media screen and (min-width: 765px)
  {    
    padding: 50px 80px;

    &-iframe {
      border: 10px solid $dark-blue;
    }
  
  }

  @media screen and (min-width: 960px) {
    padding: 50px 120px;
  }
 }